
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin:0px;
}
P{
    color: rgba(138, 136, 133, 0.642);
    font-family: "Nunito Sans", sans-serif;
}
button{
    background: linear-gradient(#6fb7e9, #4a90d9); 
  border: 1px solid #357ec7;                     
  border-radius: 6px;                             
  padding: 10px 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);         
  transition: 0.2s;
  width: 35%;
  height: 60px;
}
header{
    display: flex;
    color: white;
    background-color:rgb(76, 90, 101);
    padding: 60px 200px;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    flex-wrap: wrap;
    
}
header img{
    width: 15%;
}

.lista{
    display: flex;
    gap: 50px;
    list-style: none;
    font-family: "Nunito Sans", sans-serif;
}
.container{
    background-color:rgb(76, 90, 101);
    display: flex;
    color: white;
    justify-content:space-evenly;
    width: 100%;
    height: 100%;
}
.container img{
    width: 32%;
}
.contain1 h2{
font-size: 67px; 
font-family: "Roboto", sans-serif
}
.contain1{
    width: 40%; 
    height: 10px;
    padding-top: 70px;
    margin:10px;
}

.contain1 p{
    font-size: 20px;
    margin-top: 10px;
}
.parrafo{
    color: #ffffff;
}
.contai{
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 18px;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 80px;
    gap: 25px;
}
.contai img{
    width: 20px;
}
.contai button{
     border: 1px solid #357ec7;                     
  border-radius: 30px;                             
  padding: 4px 2px;
  width: 40%;
  height: 50px;
}





.container1{
    display: flex;
    padding: 20px 100px 20px 100px;
    justify-content: space-between;
    border-bottom: 1px solid #7e7777af; }

.container1 img{
    width: 6%;
    }
.link-work {
  color: white;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.86); 
  padding-bottom: px;
}
.container2{
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
    }
.dise単o img{
width: 40%;
}
.dise単o{
    display: flex;
  flex-direction: column;    
  align-items: center;       
  text-align: center;        
 font-size: 18px;
  gap: 24px;
  width: 30%;
  
}
.dise単o h3{
  font-family: 'Open Sans', sans-serif;
    font-weight: 547;      
font-size:30px ;
color: rgb(98, 108, 129);
}
.container3{
    margin: 100px;
    justify-content: space-between;
} 
.container3 h3{
    padding: 20px;
}
.contai3 img{
    width: 22%;
}
.contai3{
    display: flex;
    justify-content: space-evenly  ;
}
.container4{
     display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap:15%; 
    margin-top: 40px;
    width: 100%;
    font-size: 17px;
      line-height:1.5 ;
}
.dise単o button{
    height: 50px;
    width: 36%;
    font-size: 15px;
}
.cuadro{
 display: flex;
 width: 500px;
 margin-bottom: 30px;
}

.cuadr{
    line-height: 1.7;
    width: 500px;
    margin-bottom: 27px;
}
.container4 h2, h3, h4{
    font-size: 25px;
    margin-bottom: 30px ;
    font-family:"Nunito Sans", sans-serif;
    color: rgb(98, 108, 129) ;
    font-weight: 547; 
    
}
.container4 h3{
    font-size: 20px;
    margin: 0px ;
}
.container4 h4{
    color: #554a5f58;
    font-size: 13px;
    margin: 0%;
}
a{
    font-family: 'Nunito Sans', sans-serif;
}

.mi-boton{
    color: #1a65b1;
}
hr{
    border: none;
    border-top: 1px solid #cbcbcb;
    margin: 40px auto 10px;
    width: 90%;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    font-size: 15px;
    gap: 100px;
}
footer img{
    width: 35px;
    margin-left: 100px;
}
@media(max-width:1280px){
    body{
        background-color: antiquewhite;
    }

    .container4{
    gap:1%;
    width:200px ;
}
.cuadro{
 width: %;
}

.cuadr{
    width: %;
}
/*.container4 h2, h3, h4{
    font-size: 10px; 
    
}
.container4 h3{
    font-size: 6px;
}
.container4 h4{
    color: #554a5f58;
    font-size: 10px;
    margin: 0%;
}
.container4 p{
    font-size: 15px;
}*/
}
 @media(max-width:921px){
    body{
        background-color: #1ab11d;
    }
    .container4{
     display: flex;
    width: 400px;
    justify-content: space-around;
    font-size: 10px;
    gap: 10%;
}
.cuadro{
 display: flex;
 width: 200px;
 margin-bottom: 20px;
}

.cuadr{
    width: 300px;
    margin-bottom: 14px;
}
.container4 h2, h3, h4{
    font-size: 10px; 
    
}
.container4 h3{
    font-size: 6px;
}
.container4 h4{
    color: #554a5f58;
    font-size: 13px;
    margin: 0%;
}
@media (max-width:769px) {
  body{
    background-color: rgb(255, 47, 0);
  }  
}
 }