
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin:0px;
}
P{
    color: rgba(138, 136, 133, 0.642);
    font-family: "Nunito Sans", sans-serif;
}
button{
  background: linear-gradient(#6fb7e9, #4a90d9); 
  border: 1px solid #357ec7;                     
  border-radius: 6px;                             
  padding: 10px 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);         
  transition: 0.2s;
  width: 35%;
  height: 60px;
}
header{
    display: flex;
    color: white;
    background-color:rgb(76, 90, 101);
    padding: 60px 200px;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    flex-wrap: wrap;
    
}
header img{
    width: 15%;
}

.lista{
    display: flex;
    gap: 50px;
    list-style: none;
    font-family: "Nunito Sans", sans-serif;
}
.container{
    background-color:rgb(76, 90, 101);
    display: flex;
    color: white;
    justify-content:space-evenly;
    width: 100%;
    height: 100%;
<<<<<<< HEAD
=======
    
>>>>>>> 10dab2e (Finalizado)
}
.container img{
    width: 32%;
}
.contain1 h2{
font-size: 67px; 
font-family: "Roboto", sans-serif
}
.contain1{
    width: 40%; 
    height: 10px;
    padding-top: 70px;
    margin:10px;
}

.contain1 p{
    font-size: 20px;
    margin-top: 10px;
}
.parrafo{
    color: #ffffff;
}
.contai{
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 18px;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 50px;
    gap: 25px;
}

.contai button{
     border: 1px solid #357ec7;                     
  border-radius: 30px;                             
  padding: 4px 2px;
  width: 40%;
  height: 50px;
}
.container1{
    display: flex;
    padding: 20px 100px 20px 100px;
    justify-content: space-between;
    border-bottom: 1px solid #7e7777af; }

.container1 img{
    width: 6%;
    }
.link-work {
  color: white;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 1px;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.86); 

}
.container2{
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
    flex-wrap: wrap;
    }
.diseño img{
width: 40%;
}
.diseño{
    display: flex;
<<<<<<< HEAD
  flex-direction: column;    
  align-items: center;       
  text-align: center;        
 font-size: 18px;
  gap: 24px;
  width: 30%;
=======
    flex-direction: column;    
    align-items: center;       
    text-align: center;        
    font-size: 15px;
    gap: 20px;
    width: 350px;
    flex-wrap: wrap;
>>>>>>> 10dab2e (Finalizado)
  
}
.diseño h2{
  font-family: 'Open Sans', sans-serif;
    font-weight: 547;      
<<<<<<< HEAD
font-size:30px ;
=======
font-size:28px ;
>>>>>>> 10dab2e (Finalizado)
color: rgb(98, 108, 129);
}
.container3{
    margin: 100px;
    justify-content: space-between;
    padding: 20px;
}
.container3 h3{
    margin-left: 3%;
}
.contai3 img{
    width: 17rem;
}
.contai3{
    display: flex;
<<<<<<< HEAD
    justify-content: space-evenly  ;
}
.container4{
     display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap:15%; 
    margin-top: 40px;
    width: 100%;
    font-size: 17px;
      line-height:1.5 ;
}
=======
    justify-content: space-evenly ;
    flex-wrap: wrap;
}













.container4{
    flex-wrap: wrap;
     display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap:15%; 
    margin-top: 40px;
    width: 100%;
    font-size: 17px;
      line-height:1.5 ;
}
>>>>>>> 10dab2e (Finalizado)
.diseño button{
    height: 50px;
    width: 36%;
    font-size: 15px;
}
.cuadro{
 display: flex;
 width: 500px;
 margin-bottom: 30px;
<<<<<<< HEAD
=======
}
.clase{
    margin-left: 18px;
}

.cuadr{
    line-height: 1.7;
    width: 500px;
    margin-bottom: 27px;
}
.container4 h2, h3, h4{
    font-size: 25px;
    margin-bottom: 30px ;
    font-family:"Nunito Sans", sans-serif;
    color: rgb(98, 108, 129) ;
    font-weight: 547; 
    
}
.container4 h3{
    font-size: 20px;
    margin: 0px ;
}
.container4 h4{
    color: #554a5f58;
    font-size: 13px;
    margin: 0%;
}
a{
    font-family: 'Nunito Sans', sans-serif;
}

.mi-boton{
    color: #1a65b1;
}
hr{
    border: none;
    border-top: 1px solid #cbcbcb;
    margin: 40px auto 10px;
    width: 90%;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    font-size: 15px;
    gap: 100px;
}
footer img{
    width: 15%;
    margin-left: 10px;
>>>>>>> 10dab2e (Finalizado)
}

.cuadr{
    line-height: 1.7;
    width: 500px;
    margin-bottom: 27px;
}
.container4 h2, h3, h4{
    font-size: 25px;
    margin-bottom: 30px ;
    font-family:"Nunito Sans", sans-serif;
    color: rgb(98, 108, 129) ;
    font-weight: 547; 
    
}
.container4 h3{
    font-size: 20px;
    margin: 0px ;
}
.container4 h4{
    color: #554a5f58;
    font-size: 13px;
    margin: 0%;
}
a{
    font-family: 'Nunito Sans', sans-serif;
}

<<<<<<< HEAD
.mi-boton{
    color: #1a65b1;
}
hr{
    border: none;
    border-top: 1px solid #cbcbcb;
    margin: 40px auto 10px;
    width: 90%;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    font-size: 15px;
    gap: 100px;
}
footer img{
    width: 35px;
    margin-left: 100px;
}
@media(max-width:1280px){
    body{
        background-color: antiquewhite;
    }

    .container4{
    gap:1%;
    width:200px ;
}
.cuadro{
 width: %;
}

.cuadr{
    width: %;
}
/*.container4 h2, h3, h4{
    font-size: 10px; 
    
}
.container4 h3{
    font-size: 6px;
}
.container4 h4{
    color: #554a5f58;
    font-size: 10px;
    margin: 0%;
}
.container4 p{
    font-size: 15px;
}*/
}
 @media(max-width:921px){
    body{
        background-color: #1ab11d;
    }
    .container4{
     display: flex;
    width: 400px;
    justify-content: space-around;
    font-size: 10px;
    gap: 10%;
}
.cuadro{
 display: flex;
 width: 200px;
 margin-bottom: 20px;
}

.cuadr{
    width: 300px;
    margin-bottom: 14px;
}
.container4 h2, h3, h4{
    font-size: 10px; 
    
}
.container4 h3{
    font-size: 6px;
}
.container4 h4{
    color: #554a5f58;
    font-size: 13px;
    margin: 0%;
}
@media (max-width:769px) {
  body{
    background-color: rgb(255, 47, 0);
  }  
}
 }
=======














@media (max-width:1279px) {
header{
    padding: 80px 90px 50px 100px;
}
header img{
    width: 20%;
}
.container img{
    width: 35%;
}
.lista{
font-size: 20px;
}
.contain1 h2{
font-size:280%; 
}
.contain1 p{
    font-size: 110%;
    margin-top: 10px;
}

.contain1{
    padding-top: 30px;
    width: 45%;
}
.contai{
    font-size: 100%;
    margin-top: 20px;
}
.contai img{
    width: 20px;
}
.contai button{
  width:30%;
  height: 40px;
  font-size: 11px;
}

.diseño{        
 font-size: 15px;
}
.diseño h2{
font-size:22px;
}
.diseño button{
font-size: 10px;
 height: 30px;
    width: 48%;
    }

    .contai3 img{
        width: 10rem;
    }
}
@media (max-width:920px) {
       header{
    padding: 50px 50px 50px 100px;
}
header img{
    width: 20%;
}
.container img{
    width: 40%;
}
.lista{
font-size: 18px;
}
.contain1 h2{
font-size:200%; 
}
.contain1 p{
    font-size:100%;
    margin-top: 10px;
}

.contain1{
    padding-top: 20px;
    width: 45%;
}
.contai{
    font-size: 70%;
    margin-top: 20px;
}
.contai img{
    width: 20px;
}
.diseño img{
    width: 100px;
}
.diseño{        
 font-size: 15px;
 padding: 10PX;
}
.diseño h2{
font-size:20px;
}
.diseño button{
font-size: 15px;
 height: 35px;
width: 50%;
    }
    .contai3 img{
        width: 10rem;
    }
} 

   @media (max-width:768px) {
        header {
            padding: 2%;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
header img{
    width: 30%;
}
    .lista {
        padding: 0%;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }
    .container {
        display: block;
        height:800px;  
        flex-direction: column;
        text-align: center;   
    }
   .container img {
        width: 60%;
    }
    .contain1 {
        width: 90%;
    }
.contain1 img{
    width: 20px;
    
}
.contai{
    justify-content: center;
}
.contai button{
    width: 30%;
    font-size: 10px;

}
.container1{
    padding: 3%;
}
.container1 img{
    width: 40px;
}       
    .container2{
        margin: 50px;
        width: 80%;
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }

    .diseño {
        width: 85%;
        margin: 0 auto;
    }
    .diseño button{
        width: 40%;
        font-size: 8px;
        height: 30px;
    }
  
    
    .container3{
         margin-left: 30px ;
        width: 80%;
        flex-direction: column;
    }
     .cntainer3 h3{
        font-size: 20px;
        margin-left: 10px;
     }
    .contai3 img {
        width: 110px;
    }

    .container4 {
        font-size: 15px;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }
    .cuadro{
        width: 60%;
        align-items: center;
        flex-direction: column;
        padding-left:140px;
    }
     .cuadr {
        width: 90%;
        align-items: center;
        flex-direction: column;
    }
    .cuadro img{
        width: 130px;
    }
.hola{
    width: 400px;
}

    footer {
        flex-direction: column;
        gap: 1px;
        text-align: center;
    }
    footer img{
        width: 15px;
    }
}



    @media (max-width:481px) {
        body{
            background-color: #4d4e4f;
        }
    .container{
        height: 600px;
        font-size: 15px;
    }
    .container3 h3{
        font-size: 22px;
    }
    .container4 h2{
        font-size: 20px;
    }
    .cuadro h3{
        font-size: 15px;
    }
    .cuadro{
        padding-left: 65px;
    }
    .cuadr{
        padding-left:30px ;
        width: 200px;
    }

    .hola{
        padding: 60px;
    }

    footer{
    display: block;
    padding: 0%;
}

}
>>>>>>> 10dab2e (Finalizado)
